{% extends 'base.html.twig' %}

{% block title %}New ListeAmiAjouter{% endblock %}

{% block body %}
    <h1>Create new ListeAmiAjouter</h1>

    {{ include('liste_ami_ajouter/_form.html.twig') }}

    <a href="{{ path('liste_ami_ajouter_index') }}">back to list</a>
{% endblock %}
