{% extends 'base_motdepasseoublier.html.twig' %}

{% block title %}Reset your password
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('reset_password_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}


	<h1 class="mot">Réinitialisez votre mot de passe</h1>

	<small class="message">
		Entrez votre adresse e-mail et nous vous enverrons un
								lien pour réinitialiser votre mot de passe.
	</small>

	{{ form_start(requestForm) }}
	{{ form_row(requestForm.email,  { 'attr': {'class': 'email'} }) }}


	<div>
		<button class="btn btn-primary">Valider</button>
	</div>
	{{ form_end(requestForm) }}
{% endblock %}
