{% extends 'base_motdepasseoublier.html.twig' %}

{% block title %}Reset your password
{% endblock %}

{% block body %}
	<div class="Renitialisez">
		<h1 class="Renitialisez">Réinitialisez votre mot de passe</h1>

		{{ form_start(resetForm) }}
		{{ form_row(resetForm.plainPassword, { 'attr': {'class': 'pass'} }) }}
		<button class="btn btn-primary">Réinitialiser le mot de passe</button>
		{{ form_end(resetForm) }}
	</div>
{% endblock %}
