{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
 
 <div class="register-form" style="margin:105px; margin-left: 450px;">

    {{ include('calepin/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('calepin_index') }}">Retour à la liste</a>

    {{ include('calepin/_delete_form.html.twig') }}
{% endblock %}
