.filtre {
    height: 40px;
    display: flex;
    margin: 1rem;
}

/* le filtre */








.form-control {
    width: 200%;
    height: 120px;
    font-size: 40px;
    margin-top: 40%;
}

/* search */

.search {
    width: 50%;
    height: 80px;
    font-size: 40px;
    background-color: blue;
    color: #ffffff;
}



.sidenav-header {
    color: #228B22;
    font-size: 40px;
    font-weight: bold;
}

/* nombre d'abonné le sidenav qui clignote  */

.text-primary {

    margin-left: 50%;
    font-size: 15px;
    margin-top: 16%;
    color: #228B22;
    font-weight: bold;
    margin-top: 50%;
}

/* texte Abonnée */





.NomPrenom {
    background-color: black;
    color: #ffffff;
    font-size: 45px;
    height: auto;
    width: auto;
}

/* le nom de user NomPrenom le css */

.EnvoyerMessage {
    color: black;
    background-color: #ffffff;
    font-size: .875rem;
    border-radius: 0.2rem;

}

/* Boutton envoyer un message */

.btn-sm,
.btn-bd-light,
.mb-2,
.mb-md-0 {
    font-size: 40px;
}

/* css du bouton message envoyer. */




.hr {
    margin-top: 2rem;
}

/* la balise hr */

.footer {
    display: flex;
    background-color: #20c997;
}

/* display footer, le footer qui est le message envoyer et le profil */


.profil {
    margin-left: 20rem;
    font-size: 40px;
    background-color: #ffffff;
    color: black;
}

/* Profil  */