body {
    background: #eeeeee;
    font-family: 'Varela Round', sans-serif;
}

/* body */

.navbar {
    color: #ffffff;
    background: rgb(59, 89, 152) !important;
    padding: 5px 16px;
    border-radius: 0;
    border: none;
}

/* navbar */


.navbar img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin-right: 10px;
}


.navbar .navbar-brand {
    color: #ffffff;
    padding-left: 0;
    padding-right: 50px;
    font-size: 25px;
}

/* logo Small-world de la navbar */


.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #fff;
}

.navbar .navbar-brand i {
    font-size: 25px;
    margin-right: 5px;
}



.navbar .nav-item i {
    font-size: 22px;
}

/* Taille des icone de la navbar */


.navbar .nav-item span {
    position: relative;
    top: 5px;
}

/* position des icones de la navbar */



.navbar .navbar-nav>a {
    color: #efe5ff;
    padding: 8px 15px;
    font-size: 18px;
}

/* text des Econs de la navbare */


.navbar .navbar-nav>a:hover,
.navbar .navbar-nav>a:focus {
    color: #fff;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.3);
}

/* navbar */



.navbar .navbar-nav>a>i {
    display: block;
    text-align: center;
}

/* text des econ navbar */

.navbar .dropdown-item i {
    font-size: 18px;
    min-width: 22px;
}

/* text des Econ article, video, paramètre */


.navbar .dropdown-item .material-icons {
    font-size: 21px;
    line-height: 16px;
    vertical-align: middle;
    margin-top: -2px;
}

/* navbar .dropdown */



.navbar .nav-item.open>a,
.navbar .nav-item.open>a:hover,
.navbar .nav-item.open>a:focus {
    color: #fff;
    background: none !important;
}

/* .navbar .nav-item.open>a,
.navbar .nav-item.open>a:hover,
.navbar .nav-item.open>a:focus */


.navbar .dropdown-menu {
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
}

/* navbar .dropdown-menu */

.navbar .dropdown-menu a {
    color: #777 !important;
    padding: 8px 20px;
    line-height: normal;
    font-size: 15px;
}

/* navbar dropdown menu */



.navbar .dropdown-menu a:hover,
.navbar .dropdown-menu a:focus {
    color: #333 !important;
    background: transparent !important;
}

/* .navbar .dropdown-menu a:hover,
.navbar .dropdown-menu a:focus */



.navbar .navbar-nav .active a,
.navbar .navbar-nav .active a:hover,
.navbar .navbar-nav .active a:focus {
    color: #fff;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.2);
    background: transparent !important;
}

/* .navbar .navbar-nav .active a,
.navbar .navbar-nav .active a:hover,
.navbar .navbar-nav .active a:focus */



.navbar .navbar-nav .user-action {
    padding: 9px 15px;
    font-size: 15px;
}

/* navbar navbar-nav user-action */


.navbar .navbar-toggle {
    border-color: #fff;
}

/* navbar- toggle */


.navbar .navbar-toggle .icon-bar {
    background: #fff;
}

/* navbar icon bar */


.navbar .navbar-toggle:focus,
.navbar .navbar-toggle:hover {
    background: transparent;
}

/* .navbar .navbar-toggle:focus,
.navbar .navbar-toggle:hover  */


.navbar .navbar-nav .open .dropdown-menu {
    background: #faf7fd;
    border-radius: 1px;
    border-color: #faf7fd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
}


/* .navbar .navbar-nav .open .dropdown-menu */



.navbar .divider {
    background-color: #e9ecef !important;
}

/* navbar divider */



@media (min-width: 1200px) {
    .form-inline .input-group {
        width: 350px;
        margin-left: 30px;
    }
}

@media screen and (max-width: 1200px) {
    .navbar .navbar-nav>a>i {
        display: inline-block;
        text-align: left;
        min-width: 30px;
        position: relative;
        top: 4px;
    }

    .navbar .navbar-collapse {
        border: none;
        box-shadow: none;
        padding: 0;
    }

    .navbar .navbar-form {
        border: none;
        display: block;
        margin: 10px 0;
        padding: 0;
    }

    .navbar .navbar-nav {
        margin: 8px 0;
    }

    .navbar .navbar-toggle {
        margin-right: 0;
    }

    .input-group {
        width: 100%;
    }
}
























/* la touche Search */



.search {
    width: 50%;
    height: 80px;
    font-size: 40px;
    background-color: blue;
    color: #ffffff;
}

/* la touche Search */

@media screen and (min-width: 768px) {
    .search {
        width: 50%;
        height: 80px;
        font-size: 40px;
        background-color: blue;
        color: #ffffff;
    }

    /* search */


}

/* la touche Search */

@media screen and (min-width: 992px) {
    .search {
        width: 50%;
        height: 80px;
        font-size: 40px;
        background-color: blue;
        color: #ffffff;
    }
}

/* la touche Search */
@media screen and (min-width: 1200px) {
    .search {
        width: 40%;
        height: 30px;
        font-size: 18px;
        background-color: blue;
        color: #ffffff;

    }
}

/* la touche Search */
@media screen and (min-width: 1200px) {
    .searche {
        margin-top: -15%;
    }
}

/* searche la hauteur de l'ecriture */

@media screen and (min-width: 1400px) {
    .search {
        width: 50%;
        height: 80px;
        font-size: 40px;
        background-color: blue;
        color: #ffffff;
    }

}

/* la touche Search */



























.sidenav-header {
    color: #228B22;
    font-size: 40px;
    font-weight: bold;
}

/* nombre d'abonné le sidenav qui clignote  */



.text-primary {

    margin-left: 50%;
    font-size: 15px;
    margin-top: 16%;
    color: #228B22;
    font-weight: bold;
    margin-top: 15%;
}

/* texte Abonnée */





.NomPrenom {
    background-color: black;
    color: #ffffff;
    font-size: 45px;
    height: auto;
    width: auto;
}

/* le nom de user NomPrenom le css */

.EnvoyerMessage {
    color: black;
    background-color: #ffffff;
    font-size: .875rem;
    border-radius: 0.2rem;

}

/* Boutton envoyer un message */

.btn-sm,
.btn-bd-light,
.mb-2,
.mb-md-0 {
    font-size: 40px;
}

/* css du bouton message envoyer. */




.hr {
    margin-top: 2rem;
}

/* la balise hr */

.footer {
    display: flex;
    background-color: #20c997;
}

/* display footer, le footer qui est le message envoyer et le profil */


.profil {
    margin-left: 20rem;
    font-size: 40px;
    background-color: #ffffff;
    color: black;
}

/* Profil  */