{% extends 'base_video.html.twig' %}

{% block title %}New Videos
{% endblock %}

{% block body %}
	<div class="register-form position-fixed fixed-top">
		<h1 class="videos">Créer un article</h1>

		{{ include('videos/_form.html.twig') }}

		<a class="btn btn-info" href="{{ path('videos_index') }}">retour à la liste</a>
	{% endblock %}
