.navbar-expand-lg {
  background-color: rgb(1, 112, 116);
}

/* navbar de la page d'inscription */


.MonCompte {

  margin-top: -1.5%;
  color: #ffffff;
  font-size: 20px;
  margin-left: -20%;
}

/* le lien connexion pour aller sur la page de connexion */

.logo {
  margin-top: 1%;

}


.ImageProfil {
  color: #ffffff;
  margin-top: -4.9%;

}

/* logo de la touche mon compte */


.inscription {
  text-align: center;
  font-size: 50px;
  color: blue;
  margin-top: 6%;
}

/* titre de la page d'inscription */


.sexe {
  margin-top: 2%;
}

/* css du bouton sex */

.date {
  margin-top: -40%;
  margin-left: 31.8%;
}

/* css de formulaire de la date */


.agree {
  margin-left: 5%;
  font-size: 12px;
  color: blue;
  margin-top: -2%;
}

/* css de l'agree de la page d'inscription */



.inscrire {
  text-align: center;
  height: 45px;
  width: 320px;
  background-color: #8EC760;
  color: #ffffff;
  border-radius: 15px;
  border-color: #fff;
  font-size: 30px;
  border-style: double;
  cursor: pointer;
  margin-left: 23%;
}

/* css de la touche s'inscrire */



.message {
  font-size: 20px;
  margin: 0px;
  margin-top: -1%;
  color: rgb(120, 120, 247);
  text-align: center;
  display: flex;
}

/* css du message */

.footer {
  margin-top: 4;
}


.mentionslegales {
  display: flex;
  margin-left: -50%;
  margin-top: 8%;
}

/* mention legales le parent de la classe apropos et mention*/

.APROPOS {
  font-size: 20px;
  margin-left: -50%;
  margin-top: -3%;

}

.mention {
  margin-left: 10%;
  margin-top: -3%;
}


.text {
  font-size: 20px;
  margin-left: 100%;
  margin-top: 2%;
}