h2 {
  text-align: center;
  font-size: 70px;
  color: blue;
  margin-left: 750px;

}



/* .py-4 {
  font-size: 5px;
  margin-left: 20px;

}




@media screen and (min-width :1491px) and (max-width:2560px) {
  .py-4 {

    margin-top: -10%;

  }
}



@media screen and (min-width : 803px) and (max-width:1440px) {
  .py-4 {

    margin-top: -5%;


  }
}



@media screen and (min-width : 522px) and (max-width:1225px) {
  .py-4 {

    margin-top: -10%;


  }
}


@media screen and (min-width : 425px) and (max-width:522px) {
  .py-4 {

    margin-top: -250%;


  }
} */




.inscrire {
  height: 50px;
  width: 250px;
  background-color: #42B742;
  color: #ffffff;
  border-radius: 5px;
  border-color: #fff;
  font-size: 40px;
  border-style: double;
  cursor: pointer;
  margin-left: 45%;
}


/* titre h2 */
@media (max-width:1024px) {
  .inscrire {

    margin-left: 35%;
  }
}




/* bouton connexion de ma 1ere page */

.message {
  font-size: 15px;
  margin: 0px;
  margin-top: 50px;
  color: rgb(120, 120, 247);
  text-align: center;
  display: flex;
  margin-left: -5%;

}

@media (max-width:768px) {
  .message {

    margin-left: -5%;
  }
}