h2 {
  text-align: center;
  font-size: 50px;
  color: blue;
  margin-left: 750px;

}

/* titre h2 */


.inscrire {
  height: 50px;
  width: 370px;
  background-color: #42b742;
  color: #ffffff;
  border-radius: 5px;
  border-color: #fff;
  font-size: 40px;
  border-style: double;
  cursor: pointer;
  margin-left: 350px;
}

/* bouton connexion de ma 1ere page */

.message {
  font-size: 15px;
  margin: 0px;
  margin-top: 40px;
  color: rgb(120, 120, 247);
  text-align: center;
  display: flex;
  margin-left: 270px;

}