{% extends 'base_admin_message.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<div class="register-form">

		<section>

			<div class="contenaire">
				{% for message in app.flashes('message') %}

					<div class="col">
						<div class="p-3 my2 rounded-2 success">
							{{message}}
						</div>
					</div>
				{% endfor %}

				<div class="row">
					<div class="col">
						<h1 class="reception">Envoyer un message</h1>

						{{ form(form) }}

						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
{% endblock %}
