{% extends 'base.html.twig' %}

{% block title %}New CommentaireVideo{% endblock %}

{% block body %}
    <h1>Create new CommentaireVideo</h1>

    {{ include('commentaire_video/_form.html.twig') }}

    <a href="{{ path('commentaire_video_index') }}">back to list</a>
{% endblock %}
