{% extends 'base_admin_article.html.twig' %}

{% block title %}Edit Article
{% endblock %}

{% block body %}

	<div class="register-form fixed-top">
		<h1>Editer Article</h1>

		{{ include('article/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

		<a class="btn btn-success" href="{{ path('article_index') }}">Retour à la liste</a>

		{{ include('article/_delete_form.html.twig') }}
	</div>
{% endblock %}
