{% extends 'base_admin_contact.html.twig' %}

{% block title %}New Article
{% endblock %}

{% block body %}

	<div class="register-form position-fixed fixed-top" style="margin:20%; margin-left:27%; margin-top:20%; ">


		<h1>Créer un Article</h1>

		{{ include('admin/admin_article/_form.html.twig') }}
		<div class="col-3 p3" style="margin-left: 385px; ">
			<button class="btn btn-active">
				<a href="{{ path('admin_article_index') }}">Retour à la liste</a>
			</button>
		</div>
	{% endblock %}
