{% extends 'base_admin_mention.html.twig' %}

{% block title %}Nouvelle mention
{% endblock %}

{% block body %}
	<div class="allo fixed-top">
		<h1>Créer une nouvelle mention</h1>

		{{ include('mention/_form.html.twig') }}

		<a href="{{ path('mention_index') }}">retour à la liste</a>
	</div>
{% endblock %}
