{% extends 'base_messagerie.html.twig' %}

{% block title %}Hello MessagesController!
{% endblock %}

{% block body %}
	<div class="register-form" style="margin:25px;">
		<section>

			<div class="row">
				<div class="col m-1 p-5">
					<h1 class="reception" style="margin-top:20%; ">Messagerie</h1>
					<p>Résumé de la messagerie</p>
					<p>Reçu :
						{{ app.user.received|length }}</p>

					<p>
						Envoyé :
						{{app.user.sent|length }}
					</p>

					<a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
						Voir mes dossiers
					</a>

				</div>
			</div>
		</section>
	</div>
{% endblock %}
