{% extends 'base_messagerie.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<div class="register-form" style="margin-botton:105px;">

		<section>
			<div class="contenaire">
				<div class="row">
					<div class="col">
						<h1 class="reception" style="margin-top:7%; ">Envoyer un message</h1>

						{{ form(form) }}


						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
{% endblock %}
