{% extends 'base_apropos.html.twig' %}

{% block title %}New Apropo
{% endblock %}

{% block body %}
	<div class="allo fixed-top">
		<h1>Create new Apropo</h1>

		{{ include('apropo/_form.html.twig') }}

		<a href="{{ path('apropo_index') }}">back to list</a>
	{% endblock %}
