{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success " style="margin-left:47%; margin-top:20.5%">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
