{% extends 'base_admin_img.html.twig' %}

{% block title %}Télécharger
{% endblock %}

{% block body %}
	<section class="container py-4">

		<div class="album position-fixed fixed-top">


			{{ include('img/_form.html.twig') }}

			<a href="{{ path('img_index') }}" class="btn blue">retour à la liste</a>
		</div>
	</section>
{% endblock %}
