<div class="container">
	<div class="row">
		<div class="col-1 col-md-7">
			<header class="layout with-sidenav position-fixed fixed-top">

				<main>
					<nav class=" py-4  navbar-expand-lg  " style=" height: 100px">

						<h1 class="logo" style="color:white; margin-top:-5px; margin-left:3%; ">Small World</h1>


						<div class="navbar-menu ml-auto col-3 col-md-2 position-fixed fixed-top logo">
							<a class="navbar-link" href="{{path ("app_login") }}">
								<img src="https://img.icons8.com/ios/50/ffffff/name--v2.png "/>
								<div class="MonCompte">MON COMPTE</div>
							</a>
						</div>
					</nav>
				</main>
			</header>
		</div>
	</div>
</div>
