<nav class="navbare">
	<p class="navbar-brand">Small-world</p>
	{# logo small world #}

	<a class="flex-column-between" href="{{path ("app_login") }}">
		<img class=" image" src="https://img.icons8.com/50/ffffff/name--v2.png "/>
		<p class="Compte">MON COMPTE</p>
	</a>
</nav>
