<header class="layout with-sidenav">
	<main>
		<nav class=" py-4 fixed-top  navbar-expand-lg ">


			<img class="w-80" src="{{ asset("asset/logo/logo_small.png") }} "/>


			<a class="btn btn-primary" href="{{path ("app_register") }}">Inscription
			</a>


			<div class="navbar-menu ml-auto">
				<div class="MonCompte">
					<a class="connexion" href="{{path ("app_login") }}">
						<img src="https://img.icons8.com/ios/50/ffffff/name--v2.png " class="ImageProfil"/>
						<div class="connexion">MON COMPTE</div>
					</a>
				</div>
			</div>

		</nav>
	</main>
</header>
