<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@0.5.3/dist/css/axentix.min.css"> {% block stylesheets %}{% endblock %}
		<link rel="stylesheet" href="{{ asset('css/styles.css') }}">
	</head>
	<body class="layout with-sidenav ">
		<header>
			<nav class="navbar primary fixed-top" style=" height: 85px" ;>
				<a href="{{ path("home") }}" class="navbar-brand" style="font-size:40px;">Small World</a>
				<div class="navbar-menu ml-auto">


					<a class="navbar-link" href="{{path("app_login")}}">Connexion</a>
				</div>
			</nav>
		</header>


		{% block body %}{% endblock %}
	</body>
</html>
