<div class="container">
	<div class="row">
		<div class="col-1 col-md-7">
			<header class="layout with-sidenav position-fixed fixed-top">

				<main>
					<nav class=" py-4  navbar-expand-lg  " style=" height: 100px">

						<h1 class="logo" style="color:white; margin-top:-5px; margin-left:3%; ">Small World</h1>


						<div class="navbar-menu ml-auto col-1 col-md-7" style="margin-top:-2%; margin-left:-5%">
							<a class="navbar-link" href="{{path ("app_login") }}">
								<img src="https://img.icons8.com/ios/50/ffffff/name--v2.png " class="ImageProfil" style="margin-top:-6%"/>
								<div class="MonCompte" style=" margin-left: 86%; margin-top: -2.5%; color:#FFFFFF; ">MON COMPTE</div>
							</a>
						</div>
					</nav>
				</main>
			</header>
		</div>
	</div>
</div>
