{% extends 'base.html.twig' %}

{% block title %}New Article
{% endblock %}

{% block body %}

	<div class="register-form" style="margin:105px; margin-left: 320px; margin-top:-40%; ">


		<h1>Créer un Article</h1>

		{{ include('article/_form.html.twig') }}
     <div class="col-3 p3" style="margin-left: 385px; "> 
	<button class="btn btn-active"><a href="{{ path('article_index') }}">Retour à la liste</a></button>
	</div> 
	{% endblock %}
